/*CSS for Memory Card Game: TP8*/

* {
  box-sizing: border-box;
}

#mainTable {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: 10vh auto;
}

.card {
  position: relative;
  width: 18vw;
  height: 18vw;
  margin: 1vw;
  float: left;
  border: 1vw solid #fff;
  box-shadow: 0px 7px 8px #999;
  border-radius: 1vw;
}

.card.clicked {
  border: 1vw solid #333;
}

.card div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cardBack {
  background: linear-gradient(to bottom right, #cc0000 -22%, #000066 107%);
}

.cardFront {
  display: none;
  background-color: #333;
}

.clicked .cardFront {
  display: block;
}

.clicked .cardBack {
  display: none;
}

.pic1 .cardFront {
  background-image: url(images/seattle.jpg);
  background-size: cover;
  background-position: center;
}

.pic2 .cardFront {
  background-image: url(images/arches.jpg);
  background-size: cover;
}

.pic3 .cardFront {
  background-image: url(images/orsay-clock-1.jpg);
  background-size: cover;
  background-position: center;
}

.pic4 .cardFront {
  background-image: url(images/plane.jpg);
  background-size: cover;
  background-position: center;
}

.card.removed {
  box-shadow: none;
}

.card.removed div {
  display: none;
}

#win {
  height: 40vw;
  width: 70%;
  max-width: 800px;
  max-height: 553px;
  position: absolute;
  background-image: url(images/blue-flowers.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#win a {
  color: white;
}









